<div #offcanvas id="offcanvas-list"
	 uk-offcanvas="mode:push; esc-close:false; bg-close:false;">
	<div class="uk-offcanvas-bar uk-flex uk-flex-column">
		<ul class="uk-nav-primary uk-nav-parent-icon" uk-nav>
			<li>
				<a routerLink="/" class="uk-navbar-item uk-logo">xks</a>
			</li>
			<li *ngIf="deck" class="uk-parent uk-open">
				<a href="#">Tables</a>
				<ul class="uk-nav-sub">
					<li deck-elements *ngFor="let table of tables"
						[table]="table"
						(deleted)="onTableDeleted(table.id)"></li>
				</ul>
			</li>
			<li class="uk-nav-header">Actions</li>
			<li *ngIf="tableSelected">
				<a (click)="openDeckDetails()">
					<span class="uk-margin-small-right"
						  uk-icon="icon: album"></span>
					Deck details
				</a>
			</li>
			<li *ngIf="!tableSelected">
				<a (click)="newTableModal.openDialog()">
					<span class="uk-margin-small-right"
						  uk-icon="icon: plus"></span>
					New table
				</a>
			</li>
			<li *ngIf="!tableSelected">
				<a routerLink="/decks">
					<span class="uk-margin-small-right"
						  uk-icon="icon: table"></span>
					All decks
				</a>
			</li>
			<li class="uk-nav-divider"></li>
			<li>
				<a (click)="onDeckDeleted()">
					<span class="uk-margin-small-right" uk-icon="icon: trash"></span>
					Delete
				</a>
			</li>
		</ul>
	</div>
</div>
<div *ngIf="deck">
	<app-new-table-modal
		[deck]="deck"
		(tableCreated)="onNewTableCreated($event)"></app-new-table-modal>
</div>
