<div *ngIf="active" class="uk-container uk-container-expand" uk-sticky="offset: 100; top: #navigation-top-bar">
	<ul class="uk-nav-primary uk-nav-parent-icon" uk-nav>
		<li *ngIf="deck && tables.length > 0 && !tableSelected" class="uk-parent uk-open">
			<a href="#">Tables</a>
			<ul class="uk-nav-sub">
				<li deck-elements *ngFor="let table of tables"
					[table]="table"
					(deleted)="onTableDeleted(table.id)"></li>
			</ul>
		</li>
		<li class="uk-nav-header">Actions</li>
		<li>
			<a (click)="studyCurrent()">
				<span class="uk-margin-small-right"
					  uk-icon="icon: play"></span>
				Study
			</a>
		</li>
		<li *ngIf="tableSelected">
			<a (click)="openDeckDetails()">
					<span class="uk-margin-small-right"
						  uk-icon="icon: album"></span>
				Deck details
			</a>
		</li>
		<li *ngIf="!tableSelected">
			<a (click)="newTableModal.openDialog()">
					<span class="uk-margin-small-right"
						  uk-icon="icon: plus"></span>
				New table
			</a>
		</li>
		<li *ngIf="!tableSelected">
			<a (click)="goHome()">
					<span class="uk-margin-small-right"
						  uk-icon="icon: table"></span>
				All decks
			</a>
		</li>
		<li *ngIf="!tableSelected" class="uk-nav-divider"></li>
		<li *ngIf="!tableSelected">
			<a (click)="confirmDeleteDeckModal.openDialog()">
				<span class="uk-margin-small-right" uk-icon="icon: trash"></span>
				Delete deck
			</a>
		</li>
	</ul>
</div>
<div *ngIf="deck">
	<app-new-table-modal [deck]="deck"
						 (tableCreated)="onNewTableCreated($event)"></app-new-table-modal>
	<app-confirm-delete-deck-modal [deck]="deck"
								   (confirmed)="onDeckDeleted()"></app-confirm-delete-deck-modal>
	<app-setup-table-session-modal [table]="selectedTable"></app-setup-table-session-modal>
</div>
