<a [hidden]="editMode" class="uk-text-middle" (click)="onNameClick()">
	{{element.name}}
	<span class="uk-badge">{{elementCount}}</span>
	<a class="uk-float-right uk-margin-small-left"
	   (click)="confirmDeletion();$event.preventDefault();$event.stopPropagation();"
	   uk-icon="icon: trash"></a>
	<a class="uk-float-right uk-margin-small-left"
	   (click)="onEditClicked();$event.preventDefault();$event.stopPropagation();"
	   uk-icon="icon: pencil"></a>
</a>
<div [hidden]="!editMode">
	<form class="uk-grid-small" uk-grid>
		<div class="uk-inline uk-width-expand">
			<a (click)="onChangesSubmit()"
			   class="uk-form-icon uk-form-icon-flip"
			   uk-icon="check"></a>
			<input #inputElement
				   class="uk-input uk-form-small"
				   type="text"
				   placeholder="Title"
				   [formControl]="nameInput"
				   [value]="element.name">
		</div>
	</form>
</div>
<app-confirm-delete-element-modal [type]="'table'"
								  [name]="element.name"
								  (confirmed)="onDelete()">
</app-confirm-delete-element-modal>
