<div class="uk-container uk-container-expand" id="navigation-top-bar">
	<div
		uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent;">
		<nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar="mode: click">
			<div class="uk-navbar-left">
				<a (click)="goHome()" class="uk-navbar-item uk-logo uk-padding-remove-left">xks</a>
				<ul [hidden]="!active" class="uk-navbar-nav">
					<ng-template appNavBarItems></ng-template>
				</ul>
			</div>
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav">
					<li *ngIf="loginEnabled">
						<a (click)="openLoginDialog()">Login</a>
					</li>
					<li *ngIf="loginEnabled">
						<a (click)="openRegisterDialog()">Register</a>
					</li>
					<li *ngIf="!loginEnabled">
						<a>Logout</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<app-login-modal></app-login-modal>
