<div class="uk-container uk-container-small" *ngIf="state">
	<div class="uk-child-width-1-1 uk-grid-match" uk-grid *ngIf="!state.session.complete">
		<div>
			<progress class="uk-progress"
					  value="{{state.progress}}"
					  max="1"></progress>
		</div>
		<div>
			<div [ngClass]="{'uk-animation-slide-right': state.currentTask.id !== state.lastAnswer?.task?.id}">
				<session-question-view [task]="state.currentTask"></session-question-view>
			</div>
		</div>
		<div *ngFor="let answer of state.currentTask.doneAnswers">
			<session-answer-view [answerInput]="answer.input"
								 [field]="answer.field"
								 [indexNumber]="0"
								 [pending]="false"></session-answer-view>
		</div>
		<div *ngIf="state.currentTask.pendingAnswers.length > 0">
			<session-answer-editor
				(submitted)="onAnswer($event)"
				(forceAcceptRequest)="onForceAcceptAnswer($event)"
				[lastAnswerAccepted]="state.lastAnswer ? state.lastAnswer.correct : true"
				[indexNumber]="1 + state.currentTask.doneAnswers.length"
				[answerField]="state.currentTask.pendingAnswers[0]"
				[allowOverride]="state.lastAnswer?.correct === false && state.currentTask.pendingAnswers[0].identifier.id === state.lastAnswer?.fieldId">
			</session-answer-editor>
		</div>
		<div *ngFor="let answerField of state.currentTask.pendingAnswers.slice(1); index as i">
			<session-answer-view
				[field]="answerField"
				[indexNumber]="i + 2 + state.currentTask.doneAnswers.length"
				[pending]="true"></session-answer-view>
		</div>
	</div>
	<app-session-completion-view *ngIf="state.session.complete"></app-session-completion-view>
</div>
