<div class="uk-container uk-container-small" *ngIf="state">
	<div class="uk-child-width-1-1 uk-grid-match" uk-grid *ngIf="!state.session.complete">
		<div>
			<progress class="uk-progress"
					  value="{{state.progress}}"
					  max="1"></progress>
		</div>
		<div>
			<div class="uk-card uk-card-default uk-card-body">
				<h4 class="uk-card-title">Question:</h4>
				<p *ngFor="let question of state.currentTask.questionValues">
					{{question.column.name}}
					<span uk-icon="icon: arrow-right"></span>
					{{question.value}}
				</p>
			</div>
		</div>
		<div *ngFor="let answer of state.currentTask.answerValues">
			<app-session-answer-view
				[(state)]="state"
				[allowOverride]="state.lastAnswer?.task.id === state.currentTask.id
								&& state.lastAnswer?.columnId === answer.column.id
								&& !state.lastAnswer?.correct"
				[shouldGetFocus]="state.currentTask.pendingAnswerFields[0]?.column.id === answer.column.id"
				[answerField]="answer"></app-session-answer-view>
		</div>
	</div>
	<app-session-completion-view *ngIf="state.session.complete"></app-session-completion-view>
</div>
