<div class="uk-container uk-container-small" *ngIf="state">
	<div class="uk-child-width-1-1 uk-grid-match" uk-grid *ngIf="!state.session.complete">
		<div>
			<progress class="uk-progress"
					  value="{{state.progress}}"
					  max="1"></progress>
		</div>
		<div>
			<div class="uk-card uk-card-default uk-card-body">
				<h4 class="uk-card-title">Question:</h4>
				<p *ngFor="let question of state.currentTask.questions">
					{{question.identifier.name}}
					<span *ngIf="question.identifier.name.length > 0" uk-icon="icon: arrow-right"></span>
					{{question.value}}
				</p>
			</div>
		</div>
		<div *ngFor="let answer of state.currentTask.doneAnswers">
			<session-answer-view [answerField]="answer"></session-answer-view>
		</div>
		<div *ngFor="let answer of state.currentTask.pendingAnswers; index as i">
			<session-answer-editor
				(submitted)="onAnswer($event)"
				(forceAcceptRequest)="onForceAcceptAnswer()"
				[lastAnswerAccepted]="state.lastAnswer?.correct"
				[indexNumber]="i + 1 + state.currentTask.doneAnswers.length"
				[answerField]="answer"
				[allowOverride]="state.lastAnswer?.correct === false && answer.identifier.id === state.lastAnswer?.fieldId"
				[shouldGetFocus]="state.lastAnswer?.correct === false && answer.identifier.id === state.lastAnswer?.fieldId
								|| state.currentTask.pendingAnswers[0].identifier.id === answer.identifier.id">
			</session-answer-editor>
		</div>
	</div>
	<app-session-completion-view *ngIf="state.session.complete"></app-session-completion-view>
</div>
