<div #newDeckModal id="new-deck-modal" uk-modal>
	<div class="uk-modal-dialog uk-modal-body">
		<button class="uk-modal-close-default" type="button" uk-close></button>
		<h2 class="uk-modal-title">New deck</h2>
		<form class="uk-form-stacked" (submit)="onSaveClick()">
			<div class="uk-margin">
				<label class="uk-form-label" for="deckNameInput">Title</label>
				<div class="uk-form-controls">
					<input #deckNameInput
						   id="deckNameInput"
						   class="uk-input"
						   type="text"
						   placeholder="Enter deck name"
						   [formControl]="nameInput">
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="deckDescriptionInput">Description</label>
				<div class="uk-form-controls">
					<textarea id="deckDescriptionInput"
							  class="uk-textarea"
							  placeholder="Describe the new deck"
							  [formControl]="descriptionInput"></textarea>
				</div>
			</div>

			<button class="uk-float-right uk-button uk-button-primary" type="submit">Save</button>
		</form>
	</div>
</div>
