<form (submit)="onNameSubmit()" class="uk-form-horizontal"
	  [ngClass]="newColumn ? '' : 'uk-table-expand-wide'">
	<div class="uk-grid-small" uk-grid>
		<div class="uk-inline">
			<label>
				<input #columnNameInput
					   class="uk-input uk-width-auto"
					   [ngClass]="newColumn ? 'uk-form-large' : 'uk-form-small'"
					   type="text"
					   placeholder="Column title"
					   [formControl]="nameInput"
					   [value]="column?.name">
			</label>
			<button type="submit" class="uk-form-icon uk-form-icon-flip" uk-icon="icon: check"></button>
		</div>
		<button *ngIf="!newColumn" uk-icon="icon: trash"
				(click)="confirmDeleteColumnModal.openDialog();$event.preventDefault();$event.stopPropagation();"></button>
	</div>
</form>
<confirm-delete-table-column-modal [column]="column" (confirmed)="onColumnDelete()">
</confirm-delete-table-column-modal>
