<a *ngIf="deck"
   class="uk-card uk-card-small uk-display-block uk-card-default uk-link-toggle uk-card-body uk-animation-fade uk-animation-fast"
   [hidden]="editMode" (click)="openDeckDetails()">
	<div class="uk-grid-small uk-flex-middle" uk-grid>
		<div class="uk-width-expand">
			<h3 class="uk-card-title uk-link-heading uk-text-break">
				{{ deck.name }}
			</h3>
		</div>
		<div class="uk-width-auto">
			<a (click)="onEditClicked();$event.preventDefault();$event.stopPropagation();"
			   uk-icon="icon: pencil"></a>
		</div>
	</div>
	<p *ngIf="deck.description?.length || 0 > 0" class="uk-text-break">
		{{ deck.description }}
	</p>
</a>
<div *ngIf="deck"
	 class="uk-card uk-card-small uk-display-block uk-card-default uk-card-body uk-animation-fade uk-animation-fast"
	 [hidden]="!editMode">
	<form class="uk-grid-small" uk-grid>
		<div class="uk-width-1-1">
			<div class="uk-inline">
				<a type="submit"
				   (click)="onChangesSubmit()"
				   class="uk-form-icon uk-form-icon-flip"
				   uk-icon="check"></a>
				<input class="uk-input"
					   (keydown.enter)="onChangesSubmit()"
					   type="text"
					   [ngClass]="{'uk-form-danger': nameInput.value.trim() === ''}"
					   placeholder="Title"
					   [formControl]="nameInput"
					   [value]="deck.name">
			</div>
		</div>
		<div class="uk-width-1-1">
			<textarea style="resize: vertical;"
					  class="uk-textarea uk-margin-top" placeholder="Description"
					  [formControl]="descriptionInput"
					  [value]="deck.description">
			</textarea>
		</div>
	</form>
</div>
