<div class="uk-grid-match" uk-grid>
	<div *ngIf="!showToolbar">
		<app-graph-label-editor [graph]="graph"
								[shouldAppend]="connectNewNode"
								[selectedNode]="selectedNode"></app-graph-label-editor>
	</div>
	<div *ngIf="showToolbar">
		<ul class="uk-iconnav">
			<li>
				<a (click)="selectedNode ? appendNewNode() : openEditor()"
				   uk-tooltip="New node"
				   uk-icon="icon: plus"></a>
			</li>
			<li *ngIf="selectedNode">
				<a (click)="openEditor()"
				   uk-icon="icon: file-edit"
				   uk-tooltip="Edit selected node"></a>
			</li>
			<li *ngIf="selectedNode">
				<a (click)="deleteNode()"
				   uk-tooltip="Delete selected node"
				   uk-icon="icon: trash"></a>
			</li>
		</ul>
	</div>
</div>
