<div class="uk-grid-match" uk-grid>
	<div *ngIf="!showToolbar">
		<app-graph-label-editor [graphId]="graphId"
								[shouldAppend]="connectNewNode"
								[selectedNode]="selectedNode"
								[selectedEdge]="selectedEdge"
								(editingAborted)="closeEditor()"></app-graph-label-editor>
	</div>
	<div *ngIf="showToolbar">
		<ul class="uk-iconnav uk-margin-bottom">
			<li>
				<a uk-toggle="target: #graph-editor-tutorial-modal"
				   uk-icon="question"></a>
			</li>
		</ul>
		<ul class="uk-iconnav">
			<li *ngIf="!selectedEdge || selectedNode">
				<a (click)="selectedNode ? appendNewNode() : openEditor()"
				   uk-tooltip="New node"
				   uk-icon="plus"></a>
			</li>
			<li *ngIf="selectedNode || selectedEdge">
				<a (click)="openEditor()"
				   uk-icon="file-edit"
				   uk-tooltip="Edit selected node"></a>
			</li>
			<li *ngIf="selectedNode || selectedEdge">
				<a (click)="deleteSelectedElement()"
				   uk-tooltip="Delete selected node"
				   uk-icon="trash"></a>
			</li>
		</ul>
	</div>
</div>
<div id="graph-editor-tutorial-modal" uk-modal>
	<div class="uk-modal-dialog uk-modal-body">
		<button class="uk-modal-close-outside" type="button" uk-close></button>
		<h2 class="uk-modal-title">Tutorial: Graph editor</h2>
		<p>Click <span uk-icon="plus"></span> to create a new node. Click a node/edge to select it.<br>
			In order to connect two nodes, double-click the source node and then the target.<br>
			Select a node and click <span uk-icon="plus"></span> to create a node that will be connected to the previously selected one. You can label the connecting edge or leave it blank.<br>
			If a single edge leading from a node gets a name, all its siblings will get generated names.<br>
			To rename an existing node or edge, select it and click <span uk-icon="file-edit"></span> to change its label.<br>
			Press Escape or click anywhere else to deselect a node/edge or to cancel any editing in progress.
		</p>
	</div>
</div>
