<div class="uk-container"
	 #graphViewContainer
	 uk-height-viewport="offset-top: true; expand=true">
	<div #graphToolbar class="uk-grid-divider uk-margin uk-grid-medium uk-grid-row-large uk-grid-match" uk-grid
		 uk-height-match>
		<div class="uk-width-expand">
			<h2 class="uk-heading-medium uk-text-truncate">{{graph?.name}}</h2>
		</div>
		<div class="uk-width-auto">
			<div class="uk-margin uk-flex uk-flex-bottom" *ngIf="graph">
				<app-graph-toolbar [selectedNode]="selectedNode"
								   [graph]="graph"></app-graph-toolbar>
			</div>
		</div>
	</div>
	<hr>
</div>
<div #networkContainer uk-height-viewport="offset-top: true; expand=true">
</div>
