<div class="uk-container uk-container-expand"
	 #graphViewContainer
	 uk-height-viewport="offset-top: true; expand=true">
	<div #graphToolbar class="uk-grid-divider uk-margin uk-grid-medium uk-grid-row-large uk-grid-match" uk-grid
		 uk-height-match>
		<app-element-title [name]="graphName ?? ''"></app-element-title>
		<div class="uk-width-auto">
			<div class="uk-margin uk-flex uk-flex-bottom" *ngIf="graphId">
				<app-graph-toolbar [selectedNode]="selectedNode"
								   [selectedEdge]="selectedEdge"
								   [graphId]="graphId"
								   (currentlyInEdit)="editMode = $event">
				</app-graph-toolbar>
			</div>
		</div>
	</div>
	<hr>
</div>
<div #networkContainer uk-height-viewport="offset-top: true; expand=true">
</div>
