<div #setupTableSessionModal id="setup-table-session-modal" uk-modal>
	<div class="uk-modal-dialog">
		<div class="uk-modal-header">
			<h2 class="uk-modal-title">Flashcard setup</h2>
		</div>
		<div class="uk-modal-body">
			<app-table-session-mode-wizard [table]="table"></app-table-session-mode-wizard>
		</div>
		<div class="uk-modal-footer uk-text-right">
			<button (click)="startSession()"
					class="uk-button uk-button-primary uk-modal-close"
					type="button">Start
			</button>
		</div>
	</div>
</div>
