<h2 class="uk-heading-medium">{{table.name}}</h2>
<table class="uk-table uk-table-divider uk-table-hover">
	<thead>
	<tr>
		<th *ngFor="let column of columns"
			class="uk-width-small">{{column.name}}</th>
		<th>
			<button *ngIf="!columnInCreation"
					class="uk-button uk-button-default"
					type="button" (click)="addColumn()">
				Add column
			</button>
			<table-column-editor
				*ngIf="columnInCreation" class="uk-animation-fade"
				[table]="table"
				(nameChanged)="columnAdded($event)">
			</table-column-editor>
		</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let row of rows">
		<td table-cell
			*ngFor="let column of columns"
			[row]="row"
			[column]="column"
			[newCell]="false"
			(cellValueChanged)="cellChanged($event, row, column)">
		</td>
	</tr>
	<tr table-new-row-editor [columns]="columns"
		[table]="table"
		(newRow)="rowAdded($event)">
	</tr>
	</tbody>
</table>
