<div *ngIf="table" class="uk-container uk-container-expand">
	<div class="uk-grid-divider uk-grid-medium uk-grid-row-large uk-grid-match" uk-grid>
		<app-element-title [name]="table.name"></app-element-title>
		<div class="uk-width-auto">
			<button *ngIf="!columnInCreation" class="uk-button uk-button-default"
					type="button"
					(click)="addColumn()">
				New column
			</button>
			<table-column-editor
				*ngIf="columnInCreation"
				class="uk-animation-fade uk-animation-fast"
				[newColumn]="true"
				[table]="table"
				(nameChanged)="columnAdded()"
				(focusout)="cancelColumnCreation()"
				(keydown.escape)="columnInCreation = false">
			</table-column-editor>
		</div>
	</div>
	<div class="uk-overflow-auto uk-margin uk-margin-xlarge-bottom">
		<table class="uk-table uk-table-divider uk-text-nowrap">
			<thead>
			<tr cdkDropList cdkDropListOrientation="horizontal"
				(cdkDropListDropped)="dropColumn($event)">
				<th cdkDrag app-table-column
					[cdkDragDisabled]="!columnDragEnabled"
					class="uk-table-expand"
					*ngFor="let column of table.columns; let position = index"
					[table]="table"
					[column]="column"
					(editingStarted)="disableColumnDrag()"
					(columnChanged)="columnChanged(column)"
					(columnDeleted)="deleteColumn(column)">
					<ng-template *cdkDragPreview></ng-template>
				</th>
				<th *ngIf="table.rows.length > 0">
					<span uk-icon="grid" class="uk-icon"></span>
				</th>
			</tr>
			</thead>
			<tbody cdkDropList (cdkDropListDropped)="dropRow($event)">
			<tr table-row cdkDrag
				*ngFor="let row of rows"
				[cdkDragDisabled]="!rowDragEnabled"
				[row]="row"
				[table]="table"
				(rowDeleted)="deleteRow(row)"
				(editingStarted)="disableRowDrag()"
				(editingStopped)="rowDragEnabled = true">
				<ng-template *cdkDragPreview></ng-template>
			</tr>
			<tr table-new-row-editor
				[columns]="table.columns"
				[table]="table"
				(rowUpdated)="onNewRowCreationBegin()"
				(rowCompleted)="onRowComplete($event)">
			</tr>
			</tbody>
		</table>
	</div>
</div>
