<h3 class="uk-heading-bullet">Difficulty
	<a uk-toggle="target: #session-difficulty-tutorial-modal"
	   uk-icon="question"></a>
</h3>
<form uk-grid>
	<div class="uk-width-1-2@m">
		<label for="starting-score-input">Initial score: {{startingScore}}</label>
		<input id="starting-score-input"
			   class="uk-range"
			   type="range"
			   [formControl]="startingScoreRange"
			   (change)="onStartScoreChanged()"
			   min="0" [max]="maxScore - 1"
			   step="1">
	</div>
	<div class="uk-width-1-2@m">
		<label for="maximum-score-input">Maximum score: {{maxScore}}</label>
		<input id="maximum-score-input"
			   class="uk-range"
			   type="range"
			   [formControl]="maximumScoreRange"
			   (change)="onMaxScoreChanged()"
			   [min]="startingScore + 1" max="10"
			   step="1">
	</div>
	<label class="uk-margin-small-top">
		<input class="uk-checkbox"
			   type="checkbox"
			   [formControl]="saveSettingsCheckbox">
		Save difficulty settings
	</label>
</form>
<div id="session-difficulty-tutorial-modal" uk-modal>
	<div class="uk-modal-dialog uk-animation-fade uk-animation-fast">
		<div class="uk-modal-header">
			<h2 class="uk-modal-title">Tutorial: Difficulty settings</h2>
		</div>
		<div class="uk-modal-body">
			<p>
				You can setup the default score every question card starts with and the score every card has to achieve
				to be checked as completed.<br/><br/>
				If you answer a card wrong, its score will be reset to 0, else it gets incremented by 1 until it reaches
				the maximum possible score.<br/><br/>
				The higher the difference between the starting and maximum score, the more consecutive correct answers
				have to be submitted for a card to be completed.
			</p>
		</div>
		<div class="uk-modal-footer uk-text-right">
			<a href="#setup-session-modal" class="uk-button uk-button-primary" uk-toggle>Back</a>
		</div>
	</div>
</div>
